* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
}
main {
  padding: 10px;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "h h"
    "s s"
    "a as";
  gap: 10px;
  background-color: lightcyan;
}
header {
  grid-area: h;
}
section {
  grid-area: s;
  padding-bottom: 50px;
}
article {
  grid-area: a;
  margin: auto;
}
aside {
  grid-area: as;
}

.taroloElem {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px;
}

.divElem {
  border: 2px solid black;
  background-color: rgb(175, 174, 174);
}
.pElem {
  text-align: center;
}
